body {
  margin: 0;
}

.wrapper {
  margin: auto;
  background: #3030c1;
}

.header {
  margin: auto;
  width: 82%;
  background: no-repeat center right url(img/HeaderImg.svg);
}

.logo {
  padding-bottom: 107px;
  background: no-repeat bottom left url(img/LogoImg.svg);
  margin-bottom: 133px;
}

.header__title {
  padding: 0 47% 0 0;
  margin: 0 0 33px 0;
  font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(31px + (55 - 31) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
  color: #fff;
}

.header__subtitle {
  padding: 0 69% 0 0;
  margin: 0 0 11px 0;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (36 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
  color: #ffcc33;
}

.header__text {
  padding: 0 60% 0 0;
  margin: 0 0 32px 0;
  font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(17px + (23 - 17) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroylight';
  color: #fff;
}

.header__button {
  display: inline-block;
  padding: 15px 23px;
  text-decoration: none;
  font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'montserratblack';
  color:#3030c1;
  background: #ffcc33;
  margin: 0 0 241px 0;
  background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.header__button:hover {
  background-position: 0 0;
  color: #3030c1;
}

.mobile__img {
  display: none;
}

.main {
  margin: auto;
  width: 82%;
  }

.plan__title, .middle__title {
  text-align: center;
  margin: 57px 0 30px 0;
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (49 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
}

.myplans {
  display: flex;
  margin-bottom: 55px;
}

.plan__item {
  padding-right: 10px;
  margin-right: 20px;
  box-shadow: 7px 7px 30px;
}

.plan__item:last-child {
  margin-right: 0;
  padding: 0 0 0 34px;
}

.img1, .img2, .img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 47px 0 25px 0;
}

.img1 {
  padding-left: 5px;
}

.img2 {
  padding-left: 10px;
}

.img3 {
  padding-right: 25px;
}

.mobileimg1, .mobileimg2, .mobileimg3 {
  display: none;
}

.plan__title1, .plan__title2, .plan__title3  {
  text-align: center;
  margin: auto;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (36 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
  color: #3030c1;
}

.plan__text1, .plan__text2, .plan__text3 {
  text-align: center;
  margin: auto;
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(12px + (25 - 12) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
  color: #3a3a3a;
}

.plan__title1 {
  width: 70%;
  margin-bottom: 25px;
  padding-left: 12px;
}

.plan__title2 {
  width: 90%;
  margin-bottom: 14px;
  padding-left: 12px;
}

.plan__title3 {
  width: 70%;
  margin-bottom: 25px;
  padding-right: 23px;
}

.plan__text1 {
  width: 71%;
  margin-bottom: 63px;
}

.plan__text2 {
  width: 63%;
  margin-bottom: 52px;
  padding-left: 8px;
}

.plan__text3 {
  width: 70%;
  margin-bottom: 63px;
  padding-right: 30px;
}

.middle__text {
  text-align: center;
  padding-left: 12px;
  margin: auto;
  width: 85%;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(21px + (35 - 21) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroylight';
  margin-bottom: 55px;
}

.form__wrapper {
  background: #f0fbff;
}

.form__title {
  text-align: center;
  padding: 73px 0 50px 0;
  font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (49 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroyextrabold';
  font-style: bold;
}

.form {
  text-align: center;
  margin: auto;
  width: 82%;
}

.window__name {
  padding: 28px 200px 28px 26px;
  background: #fff;
  margin-bottom: 31px;
  border: none;
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(12px + (23 - 12) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroylight';
  color: #878787;
}

.window__email {
  padding: 28px 50px 28px 28px;
  background: #fff;
  margin-bottom: 74px;
  border: none;
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(12px + (23 - 12) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'gilroylight';
  color: #878787;
}

.form__button {
  display: inline-block;
  padding: 28px 110px;
  background: #ffda45;
  margin-bottom: 73px;
  text-decoration: none;
  border: none;
  font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(12px + (23 - 12) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'montserratblack';
  color: #000;
}

.form__button:hover {
  background-color: #f0e68c;
}


.footer {
  text-align: center;
  background: #3030c1;
  padding: 51px 70% 51px 0;
  font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(12px + (15 - 12) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'robotoregular';
  color: #fff;
}

@media (max-width: 1170px) {
  .header {
    width: 92%;
    background-size: 60%;
  }
}

@media (max-width: 768px) {
  .header {
    width: 82%;
    background: none;
  }

  .logo {
    padding-bottom: 63px;
    background: no-repeat bottom left url(img/LogoMobile.svg);
    margin-bottom: 25px;
  }

  .header__title {
    padding: 0 2% 0 0;
    margin: 0 0 25px 0;
  }

  .header__subtitle {
    padding: 0 5% 0 0;
    margin: 0;
  }

  .header__text {
    padding: 0 6% 0 0;
    margin: 0 0 25px 0;
  }

  .mobile__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  .header__button {
    display:none;
  }

  .main {
    margin: auto;
    width: 82%;
  }

  .plan__title {
    margin: 55px 0 30px 0;
  }

  .myplans {
    display: inline-block;
  }

  .plan__item {
    margin: 0;
  }

  .plan__item:last-child {
    margin-bottom: 0;
  }

  .img1, .img2, .img3 {
    display: none;
  }

  .mobileimg1, .mobileimg2, .mobileimg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    padding-top: 42px;
  }

  .mobileimg1 {
    padding-left: 5px;
  }

  .mobileimg2 {
    padding-left: 10px;
  }

  .mobileimg3 {
    padding-right: 30px;
  }

  .plan__title1 {
    width: 75%;
    margin-bottom: 15px;
  }

  .plan__title2 {
    width: 95%;
    margin-bottom: 7px;
  }

  .plan__title3 {
    width: 80%;
    padding-right: 35px;
    margin-bottom: 12px;
  }

  .plan__text1 {
    width: 50%;
    padding-bottom: 42px;
    margin-bottom: 20px;
  }

  .plan__text2 {
    width: 50%;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }

  .plan__text3 {
    width: 60%;
    padding-right: 40px;
    padding-bottom: 42px;
    margin-bottom: 0px;
  }

  .middle__title {
    margin: 0 0 30px 0;
  }

  .middle__text {
    width: 92%;
    padding-left: 5px;
    padding-right: 10px;
  }

  .form__title {
    padding: 44px 0 25px 0;
  }

  .window__name {
    padding: 17px 169px 16px 17px;
    margin-bottom: 13px;
  }

  .window__email {
    padding: 17px 92px 16px 17px;
    margin-bottom: 27px;
  }

  .form__button {
    padding: 17px 90px;
    margin-bottom: 42px;
  }

  .footer {
    padding: 24px 46% 24px 0;
  }
}
